
/*
.speciaal{font-size:20px;background-color:blue;}
.gewoon{font-size:20px;background-color:red;color:white;}
p{display:inline;padding:5px;text-align:center;}
nav{text-align:center;}

.speclink{color:pink;}
.normallink{color:white;}
